<!--
  Generated template for the MyorderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Order</ion-title>
	

	
  </ion-navbar>

</ion-header>

<!--
<ion-content padding>
-->



<!-----
	<ion-spinner *ngIf="!myOrderList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
   <div style="margin: 10px 0 0 0;">
      <ion-list *ngFor="let item of myOrderList">
         <ion-item no-lines *ngFor="let post of item.items" class="items" (click)="getOrderDetails(item.id)" >
         <h4  style="margin-top:0px;border-height: 0px;">Name: {{post.name}}</h4>
         <h4 class="rap" style="border-height: 0px;">Price: {{post.price}}</h4>
         </ion-item>
         <h4  style="margin-top:10px;margin-bottom:0px; font-size:15px; padding-left:16px;border-height: 0px;">Total:{{item.total}}</h4>
         <button ion-button icon-left style="padding-right:0px" no-margin clear (click)="deleteOder(item.id)">
            <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
            Delete
         </button>
         <hr style="border-height: 1px;">
      </ion-list>
   </div>
   -->
<!--
</ion-content>
-->
