<!--
  Generated template for the CategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar>
    <ion-title>Category</ion-title>
	
	<ion-buttons right>
        <button style="background-color:white;" (click)="goToMap()">
						<ion-icon name="map" color = "primary"  style="position:relative; font-size:2em;"  >
							<span></span>
						</ion-icon>
        </button>
    </ion-buttons>
	
  </ion-navbar>
  
	

</ion-header>

<ion-content>
	<swipe-to-dismiss-layout-2
     [data]="params.data"
     [events]="params.events">
   </swipe-to-dismiss-layout-2>
</ion-content>