page-resset-password {
  .button-md,.button-md.activated{   
    background-color: #2c4f6f!important;
}
  .card-md {
    margin: 10px 10px 0px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: none;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: none;
  }

  .item-md {
    padding-left: 0px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #fff;
    background-color:transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom:1px solid #ffffff;
  }

  page-resset-password .item-input .label-md, page-resset-password .item-select .label-md, page-resset-password .item-datetime .label-md {
    color: #fff !important;
  }


  .slide-image{
    background-image: url(assets/images/logo/sky.jpg);
  }

  .text-input::-moz-placeholder {
    color: white;
  }

  .text-input:-ms-input-placeholder {
    color: white;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: white;
  }

  .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #fff !important;
    text-shadow:none;
  }

  .item-label-floating .input-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 1px solid #ffffff9c;
  }
}
