<!--
  Generated template for the RessetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  style="background: #5e2f6f;color: white">

  <ion-navbar >
    <ion-title>Resset Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-image: url(assets/images/logo/sky.jpg);">
  <div >
    <ion-card>
      <form #f="ngForm">
        <ion-list>


          <ion-item>
            <ion-label ><ion-icon ios="ios-person" md="md-person"></ion-icon></ion-label>

            <ion-label floating>Email</ion-label>
            <ion-input required type="email" [(ngModel)]="form.email" name="email"></ion-input>
          </ion-item>

        </ion-list>
        <div class="error-message">
          <ion-label color="danger" text-wrap>{{errorRegisterMessage}}</ion-label>
        </div>
        <div class="row">
          <button style="margin: 20px 20px 0 20px" class="login-button" ion-button block color="secondary" type="submit" class="button button-block button-default" text-uppercase [disabled]="disableRegister" (click)="Forget()">{{buttonText}}</button>
          <br>
          <button style="margin: 0px 20px 20px 20px"class="forgot-button" ion-button clear color="danger" type="submit" class="button button-block button-clear" (click)="goToLogin()">Login</button>
        </div>
      </form>
    </ion-card>
  </div>
</ion-content>
