<!--
  Generated template for the WritecommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

   <ion-navbar color="brown">
  
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  
    <ion-title>Write Review</ion-title>
	
	
		<ion-buttons right>
        <button style="background-color:white;" (click)="goToMap()">
						<ion-icon name="map"   style="position:relative; font-size:2em;"  >
							<span></span>
						</ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div style="margin:20px 10px 0 10px;">
      <form #f="ngForm">
         <ion-list>
					  <h2 item-title style = "text-align:center;"><b></b></h2>
					  <h4 item-title style = "text-align:center;"><small>A34 New Ashok Nagar new delhi 1120009  india </small></h4>
						
						<ion-avatar item-start>
							  <ion-list style="margin:15px 0 0 0;font-family: Arial ">
							
							 <div  class="profile-image">
								<img src="assets/imgs/user.png" width="80" height="80" style="display: block; margin-left: auto; margin-right: auto;">
							 </div>
							 
							  </ion-list>
						  </ion-avatar>
						  
						  <h2 item-title style = "text-align:center;">Ranjeet Sharma</h2>

						   
						
					<div style="margin:29px;">		 
				  <h2  style="text-align:center;">⭐⭐⭐⭐⭐</h2>
			
            <ion-item style ="margin-top:20px; display: block; margin:auto">

               <textarea class="example"  style = "height:100px;width:220px;padding-right:10%;padding-left:10%;" type="text" [(ngModel)]="form.description" name="description" placeholder='Write Comment Here'></textarea>
            </ion-item>
			 </div>
         
         </ion-list>
    
      </form>
   
         <button ion-button block color="secondary" [disabled]="disableSubmit" text-uppercase (click)="addComment()">Review</button>
   </div>
</ion-content>

