<ion-header>

	<ion-navbar class="title-bar" color="primary">
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title style="text-align: left; font-weight: normal">Venue Detail</ion-title>

	</ion-navbar>

</ion-header>


<ion-content padding>
  
  <div class="card-background-page">
		<ion-card>
			<img src="assets/images/background/2.jpg" />
			<div class="card-title">Avant Garde Wedding & Events</div>
			<div class="card-subtitle">Vrederkloof,Cape Town,South Africa</div>
      <div class="star-location">
			<div class="star-rating">
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
			</div>
      <div class="distance-div"><img src="assets/imgs/location-white.png">9.5 km</div>
      </div>
		</ion-card>
	</div>
	<ion-card>
<ion-slides class="image-slider" loop="true"    slidesPerview="2" style="padding-left:0px !important;padding-right:0px !important;">

      <ion-slide *ngFor="let img of images" style="padding:2px;">
         <img src="assets/images/background/{{img}}"  imageViewer  class="thumb-img">
      </ion-slide>
    </ion-slides>
 
 
  </ion-card>
 
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
   <ion-list class="icon-list">
 
  <ion-item><img src="assets/imgs/chat.png" (click)="openChat()"> Live Chat</ion-item>
  <ion-item><img src="assets/imgs/message.png" (click)="openemail()"> Send Message</ion-item>
  <ion-item><img src="assets/imgs/compass.png" (click)="getDirection()"> Get Directions</ion-item>
  <ion-item><img src="assets/imgs/call.png" (click)="callmyNumber()"> Call</ion-item>
</ion-list>

<div class="op-hrs"><span></span>Operating Hours : 9am - 5pm</div>
<button ion-button block color="primary" class="btn-extra-space extra-margin" (click)="wedeventss()" >Write Review</button>

<ion-list>
		<ion-item class="user-with-review">
			<ion-avatar item-start class="avatar-box">
				<img src="assets/imgs/marty-avatar.png">
			</ion-avatar>
			<h2>Username</h2>
			<p>Found this place by accident as usual...were reeled in by one of the waiters standing outside and me and my ...More</p>
			<div class="date-rev">Reviewed 15 June 2017</div>
			<div class="star-rating">
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
			</div>
		</ion-item>
		<ion-item class="user-with-review">
			<ion-avatar item-start class="avatar-box">
				<img src="assets/imgs/marty-avatar.png">
			</ion-avatar>
			<h2>Username</h2>
			<p>Found this place by accident as usual...were reeled in by one of the waiters standing outside and me and my ...More</p>
			<div class="date-rev">Reviewed 15 June 2017</div>
			<div class="star-rating">
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
			</div>
		</ion-item>
		<ion-item class="user-with-review">
			<ion-avatar item-start class="avatar-box">
				<img src="assets/imgs/marty-avatar.png">
			</ion-avatar>
			<h2>Username</h2>
			<p>Found this place by accident as usual...were reeled in by one of the waiters standing outside and me and my ...More</p>
			<div class="date-rev">Reviewed 15 June 2017</div>
			<div class="star-rating">
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
			</div>
		</ion-item>
	</ion-list>

</ion-content>