<ion-header>
    <ion-navbar class="title-bar" color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title style="text-align: center; font-weight: normal">Find Vendors Near Me</ion-title>
        <ion-buttons right class="bttn">
            <button class="bttn" style="background-color:transparent !important"><img src="assets/imgs/map.png" style="height: 32px; width: 32px" (click)="goToMap()"></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="restaurants && restaurants.length>0">
        <ion-card *ngFor="let restaurant of restaurants">
            <ion-item style="border-top: 3px solid colorofyourchosing !important;">
                <ion-avatar item-start class="avatar">
                    <img [src]="restaurant.backgroundImage" (click)="wedevents()">
			</ion-avatar>
                    <h2>{{restaurant.title}}</h2>
                    <div class="star-rating">
                        <ion-icon ios="ios-star" md="md-star"></ion-icon>
                        <ion-icon ios="ios-star" md="md-star"></ion-icon>
                        <ion-icon ios="ios-star" md="md-star"></ion-icon>
                        <ion-icon ios="ios-star" md="md-star"></ion-icon>
                        <ion-icon ios="ios-star" md="md-star"></ion-icon>
                    </div>
                    <p>Brakenfell, Cape Town</p>
                    <div class="distance-div"><img src="assets/imgs/lcoation.png">{{restaurant.distance}} km</div>
            </ion-item>
            <ion-row class="card-icon-others">
                <ion-col>
                    <button ion-button icon-start clear small (click)="callmyNumber()">
                        <img src="assets/imgs/call.png">
				</button>
                </ion-col>
                <ion-col>
                    <button ion-button icon-start clear small (click)="openemail()">
                        <img src="assets/imgs/message.png">
				</button>
                </ion-col>
                <ion-col>
                    <button ion-button icon-start clear small (click)="openChat(restaurant)">
                        <img src="assets/imgs/chat.png">
				</button>
                </ion-col>
                <ion-col>
                    <button ion-button icon-start clear small (click)="addFavourate(restaurant)" *ngIf="this.global.showicon == false">
                        <img src="assets/imgs/heart.png">
				</button>
                        <button ion-button icon-start clear small (click)="addFavourates(restaurant)" *ngIf="this.global.showicon == true">
                            <img src="assets/imgs/heart1.jpg" class="imgg3">

				</button>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
</ion-content>