page-list {
    // .button-md,.button-md.activated{   
    //     background-color: #2c4f6f!important;
    // }
    .title-bar {
        font-weight: 300;
    }

    .toolbar-title {
        font-weight: 300 !important;
    }

    .head-btn {
        position: absolute;
        left: 0;
        top: 0;
        padding: 5px 15px 0 15px;
        font-size: 24px;
        box-shadow: none;
        top: 5px;
    }

    .distance-div {
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-size: 1.3rem;
        color: #555555;
    }

    .distance-div img {
        max-width: 14px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 7px;
    }

    .card {
        margin: 12px 0;
        width: 100%;
    }

    .card-icon-others img {
        max-width: 32px;
    }

    .card-icon-others button {
        height: 32px;
    }

    .avatar img {
        height: 64px;
        width: 64px;
    }

    .input-wrapper p {
        font-size: 1.3rem;
    }

    .card-md {
        margin: 12px 12px 12px 0px;
        border: 1px solid $brandcolor !important;

    }

}