<!--
  Generated template for the YoutubePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Restaurants</ion-title>
	
	<ion-buttons right>
        <button style="background-color:white;">
						<ion-icon name="map" color = "primary"  style="position:relative; font-size:2em;"  >
							<span></span>
						</ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card *ngFor = "let video of videos">
		<ion-card-header>
			{{video.title}}
		</ion-card-header>
		
		<ion-card-content>
			<iframe width ="100%" height="200px" [src]="video.video | youtube" frameborder = "0" allowfullscreen>
			</iframe>
		</ion-card-content>
	</ion-card>
</ion-content>
