<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  
    <ion-title>Geolocation2</ion-title>
	
	
			<ion-buttons right>
        <button style="background-color:white;" >
						<ion-icon name="map" color = "primary"  style="position:relative; font-size:2em;"  >
							<span></span>
						</ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
<div id = "map">

</div>
<!----
<h3>Current Latitude: {{locationTracker.lat}}</h3>
  <h3>Current Longitude: {{locationTracker.lng}}</h3>
  <h3>Current Longitude: {{locationTracker.timestamp}}</h3>
  --->
  <button ion-button full primary (click)="start()">Track My Location</button>
  <button ion-button full primary (click)="stop()">Stop Tracking Location</button>

</ion-content>
