//////////////////////////////////////////////////
// BLUE LIGHT THEME
//  Font Style
//  Font sizes
//  Global Colors
//  Global Opacity
//  Color Function
//  Gradients
//  Changing Background Images in Black&White Mode
//  Blend Mode Colors
//  Dividers Settings
//  Border Radius
//  Content Color Settings
//  Shadows
//  Icon Sizes
//  Icon Settings
//  Social Icons Color
//  Span Settings
//  LIST VIEWS - Header
//  LIST VIEWS - Item Parameters
//  LIST VIEWS - Subitem Parameters
//  Button Settings
//  Google Cards Settings
//  Swipe Item
//  Parallax Settings
//  Checkbox
//  Wizard Settings
//  Input Field Settings
//  Search Bar Settings
//  Google Maps
//  Animations
//  Background Sizes
//  Default Overview Ionic
//////////////////////////////////////////////////
// Size Avatar
$item-md-avatar-size: 72px;
$item-ios-avatar-size: 72px;
// Size Avatar
$item-md-thumbnail-size: 120px;
$item-ios-thumbnail-size: 120px;
//Font Style
$font-family-md-base: 'San Francisco';
$font-family-ios-base: 'San Francisco';
// Font sizes
$font-size-text:( 'h1': 34px, 'h2': 24px, 'h3': 22px, 'h4': 17px, 'h5': 15px, 'h6': 14px, 'p': 14px);
@function font-size-text($key) {
    @return map-get($font-size-text, $key);
}

[transparent] {
    background-color: transparent !important;
}

// Global Colors
$palettes: (
    // Also used for backgrounds.
    mainColors: (
      primary : #ffffff, // Used for toolbars
      secondary : #f7f7f7, // Used for various small elements
      secondaryDark: #C7C7CC, //settings border
      accent : #ffffff, // title
      accentLight : #E8E9EA, // title
      accentDark: #EFEFF4,
      accentNew : #9C27B0, // title

),
    // Used for text colors in all screens
    textColors: (
      primary: #292F36, // item-title
      secondary: #8E8E93, // item-subtitle
      secondaryBase: #ffffff,
      accentLight: #C7C7CC, //Icon
      accent : #ffffff, // title
      accentDark: #000000
    ),
    // Used for blend modes
    blendModes: (
      primary : #00ff36,
      secondary: #23278a
    )
);
// Global Opacity
$global-opacity: (
    'opacity0': 0,
    'opacity10': 0.1,
    'opacity20': 0.2,
    'opacity30': 0.3,
    'opacity40': 0.4,
    'opacity50': 0.5,
    'opacity60': 0.6,
    'opacity80': 0.8,
    'opacity90': 0.9,
    'opacity100': 1
);
// Function to print color
@function theme-colors($name: 'blendModes', $variant: 'primary', $opacity: 1) {
    // Get the color spectrum
    $color-spectrum: map-get($palettes, $name);
    // Get the color variant
    $color: map-get($color-spectrum, $variant);
    // Get the alpha setting
    $alpha: if(type-of($opacity)=='number', $opacity, map-get($global-opacity, $opacity));
    // Set the alpha of the color
    @if $alpha {
        $color: rgba($color, $alpha);
    }
    @return $color;
}


// Settings Bland Mode
@mixin black-white-mode {
    background-color: theme-colors('blendModes', 'primary') !important;
    background-blend-mode: multiply;
}

[images-filter] {
    mix-blend-mode: multiply;
    -webkit-filter: grayscale(100%) contrast(1.2);
    filter: grayscale(100%) contrast(1);
}

@mixin darkening-blend-mode {
    @include black-white-mode;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: theme-colors('blendModes', 'secondary');
        mix-blend-mode: lighten;
    }
}

// Settings Header Animation
@mixin settingAnimationHeader {
  // Header off
  @keyframes headerOff {
    from {
      background-color: theme-colors('mainColors', 'accentNew');
    }

    to {
      background-color: transparent;
    }
  }

  ion-navbar {
    background-color: #9C27B0 !important;
    animation-name: headerOff;
    animation-duration: 100ms;
  }

  // Header On
  @keyframes headerOn {
    from {
      background-color: transparent;
    }

    to {
      background-color: theme-colors('mainColors', 'primary');
    }
  }

  .active {
    background-color: theme-colors('mainColors', 'primary') !important;
    animation-name: headerOn;
    animation-duration: 400ms;
    box-shadow: $box-shadow-z1;
  }

}

[no-margin] {
    margin: 0 !important;
}

[no-padding] {
    padding: 0 !important;
}

.bold-wed{
font-weight: 600!important;    
}
.msg-readed{
    background: #2574e5;
    border:none!important;
    color:#ffffff!important;
}
// Change color list
$list-background-color: theme-colors('mainColors', 'primary');
$list-md-activated-background-color: theme-colors('mainColors', 'primary');
$list-ios-activated-background-color: theme-colors('mainColors', 'primary');

//Background Ionic App
$background-color: theme-colors('mainColors', 'primary');
// Border Radius
$border-radius: 8px;
// Black&White Avatar and Image
ion-avatar,
ion-thumbnail {
//    -webkit-filter: grayscale(100%);
  //  filter: grayscale(100%);
    //opacity: 0.7;
}

ion-thumbnail img {
    border-radius: $border-radius !important;
}

// Divider Settings
$item-divider-small: 1px solid theme-colors('mainColors', 'secondaryDark') !important;
$item-divider-medium: 2px solid theme-colors('mainColors', 'secondaryDark');
$item-divider-large: 4px solid theme-colors('mainColors', 'secondaryDark');
[border]::before {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid theme-colors('mainColors', 'secondaryDark');
    left: 16px;
    bottom: 0;
    right: 0;
}

// Content Color Settings
$content-bcg: theme-colors('mainColors', 'secondary');
// Shadows
$box-shadow-z1: 0 2px 10px rgba(0, 0, 0, 0.2);
$box-shadow-z2: 0 4px 10px rgba(0, 0, 0, 0.2);
$box-shadow-z3: 0 6px 10px rgba(0, 0, 0, 0.2);
// Icon Sizes
$icon-size:( 'icon-small': 22px, 'icon-medium': 32px, 'icon-large': 60px);
@function icon-size($key: 'icon-small') {
    @return map-get($icon-size, $key);
}

// Icon Settings
[icon-small] {
    color: theme-colors('textColors', 'accent') !important;
    font-size: icon-size('icon-small') !important;
}

[icon-medium] {
    color: theme-colors('textColors', 'accent') !important;
    font-size: icon-size('icon-medium') !important;
}

[icon-large] {
    color: theme-colors('textColors', 'accentLight') !important;
    font-size: icon-size('icon-large') !important;
}

// Span Settings
[span-small] {
    color: theme-colors('textColors', 'secondary');
    font-size: font-size-text('h5');
}

[span-medium] {
    color: theme-colors('textColors', 'accent');
    font-size: font-size-text('h4');
}

[span-large] {
    color: theme-colors('textColors', 'accentLight');
    font-size: font-size-text('h3');
}

// LIST VIEWS - Header

.header-md::after {
    background-image: none !important;
}

[header-section] {
    background-color: theme-colors('mainColors', 'accentNew') !important;
    border-top: none !important;
    border-bottom: 1px solid theme-colors('mainColors', 'secondaryDark') !important;
    margin-bottom: 1px !important;
    .label-md,
    .label-ios {
        margin: 0;
    }
}

[header-title] {
    color: theme-colors('textColors', 'accentDark');
    font-size: font-size-text('h1') !important;
    font-weight: 700 !important;
    line-height: 34px;
    margin-bottom: 9px !important;
}

[header-subtitle] {
    color: theme-colors('textColors', 'secondary') !important;
    font-size: font-size-text('h4');
    letter-spacing: 1px;
    font-weight: 300;
}

// LIST VIEWS - Items Parameters
[item-title] {
    color: theme-colors('textColors', 'accentDark') !important;
    font-size: font-size-text('h4') !important;
    font-weight: 300 !important;
    letter-spacing: 1px !important;
}

[item-subtitle] {
    color: theme-colors('textColors', 'secondary');
    font-size: font-size-text('h5') !important;
    font-weight: 300 !important;
    letter-spacing: 1px;
}

// LIST VIEWS - Subitem Parameters
[subitem-title] {
    color: theme-colors('textColors', 'accentDark') !important;
    font-size: font-size-text('h4') !important;
    line-height: normal;
    letter-spacing: 1px;
}

[subitem-subtitle] {
    color: theme-colors('textColors', 'secondary') !important;
    font-size: font-size-text('h5') !important;
    font-size: 15px !important;
    font-weight: 300 !important;
    letter-spacing: 1px;
}

ion-note {
  color: theme-colors('textColors', 'secondary') !important;
  font-size: font-size-text('h5') !important;
  font-size: 15px !important;
  font-weight: 300 !important;
  letter-spacing: 1px;
}

// Button Settings
[default-button] {
    background: #9C27B0;
    color: theme-colors('textColors', 'secondaryBase') !important;
    font-size: font-size-text('h4') !important;
    font-weight: 300 !important;
    height: 44px !important;
    box-shadow: none !important;
    border-radius: 8px !important;
}

[button-clear] {
    color: theme-colors('textColors', 'accent') !important;
    font-size: font-size-text('h5') !important;
    font-weight: 300 !important;
    letter-spacing: 1px;
}

[button-clear-outline] {
    color: theme-colors('textColors', 'accent') !important;
    font-size: font-size-text('h5') !important;
    border: 1px solid theme-colors('mainColors', 'accent') !important;
    padding: 15px 18px !important;
    font-weight: bold !important;
}

[button-action-shit] {
  border-radius: 50% !important;
  height: 30px !important;
  width: 30px;
  box-shadow: none !important;
  ion-icon {
    font-size: 30px;
    &.ion-md-more:before {
      transform: rotate(90deg);
    }
  }
}

//Badges Settings
$badge-font-size: font-size-text('h5') !important;
ion-badge {
    border-radius: 15px !important;
    padding: 6px 15px !important;
}

//Badges Settings Dark
[badge-dark] {
    &.badge {
        color: theme-colors('textColors', 'secondaryBase') !important;
        background-color: theme-colors('mainColors', 'accent') !important;
    }
}

//Badges Settings Light
.badge-light {
    &.badge {
        color: theme-colors('textColors', 'accent') !important;
        background-color: theme-colors('mainColors', 'accentDark') !important;
    }
}

// Login settings
[login-title] {
    font-size: font-size-text('h1') !important;
    font-weight: bold !important;
    line-height: 34px;
    color: theme-colors('textColors', 'accent');

}

[login-subtitle] {
    font-size: 17px !important;
    font-weight: 300;
    color: theme-colors('textColors', 'accentDark');
}

// Google Cards Settings
$card-md-margin-bottom: 0px !default;
$card-ios-margin-bottom: 0px !default;
$card-md-background-color: theme-colors('mainColors', 'primary');
$card-ios-background-color: theme-colors('mainColors', 'primary');
[card-title] {
    color: theme-colors('textColors', 'accentDark') !important;
    font-size: font-size-text('h2') !important;
    font-weight: bold !important;
}

[card-subtitle] {
    color: theme-colors('textColors', 'secondary') !important;
    font-size: font-size-text('h5') !important;
    font-weight: 300 !important;
    letter-spacing: 1px;
}

[card-body-text] {
    color: theme-colors('textColors', 'secondary') !important;
    font-size: font-size-text('p') !important;
    font-weight: 300 !important;
    letter-spacing: 1px;
}

// Swipe
$item-md-sliding-content-background: theme-colors('mainColors', 'primary');
[swiped-item-title] {
    color: theme-colors('textColors', 'accent');
    margin: 0;
    font-size: font-size-text('h5') !important;
    text-transform: initial;
}

// Parallax Settings
[parallax-title] {
    color: theme-colors('textColors', 'secondaryBase');
    font-size: font-size-text('h1') !important;
    font-weight: bold;
    line-height: 34px;
}

[parallax-subtitle] {
    color: theme-colors('textColors', 'secondaryBase');
    font-size: font-size-text('h4') !important;
    font-weight: 300;
}

[parallax-description] {
    color: theme-colors('textColors', 'secondary') !important;
    font-size: font-size-text('h4') !important;
    line-height: 20px;
    font-weight: 300;
}

// Gallery Settings
[gallery-title] {
    font-size: font-size-text('h2') !important;
    color: theme-colors('textColors', 'secondaryBase') !important;
}

[gallery-subtitle] {
    font-size: font-size-text('h6') !important;
    color: theme-colors('textColors', 'secondaryBase') !important;
}

// Checkbox
// Settings for ios
$checkbox-ios-background-color-on: theme-colors('mainColors', 'accent');
$checkbox-ios-background-color-off: #E5E5EA;
$checkbox-ios-icon-border-color-off: #E5E5EA;
$checkbox-ios-icon-border-color-on: theme-colors('mainColors', 'accent');
//   // Settings for android
$checkbox-md-icon-background-color-on: theme-colors('mainColors', 'accent');
$checkbox-md-icon-background-color-off: #E5E5EA;
$checkbox-md-icon-border-color-off: #E5E5EA;
$checkbox-md-icon-border-color-on: theme-colors('mainColors', 'accent');
$checkbox-md-icon-border-width: 2px;
$checkbox-md-icon-border-radius: 4px;
$checkbox-md-icon-size: 18px;
$checkbox-md-icon-checkmark-color:theme-colors('textColors', 'secondaryBase');
.checkbox-md {
    .checkbox-icon {
        height: 20px !important;
        width: 20px !important;
    }
    .checkbox-inner {
        top: 1px !important;
        left: 6px !important;
        width: 6px !important;
        height: 11px !important;
    }
}

// Wizard Setting
[wizard-title] {
    color: theme-colors('textColors', 'accent');
    font-size: font-size-text('h1') !important;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 34px;
}

[wizard-subtitle] {
  color: theme-colors('textColors', 'accent');
  font-size: font-size-text('h4') !important;
  font-weight: 300;
}

[wizard-description] {
    color: theme-colors('textColors', 'secondary');
    font-size: font-size-text('h4') !important;
    letter-spacing: 1px;
    font-weight: 300;
}

// Input Field Settings
$text-input-md-highlight-color: theme-colors('textColors', 'secondary') !important;
$text-input-md-highlight-color-valid: theme-colors('textColors', 'secondary') !important;
$text-input-md-highlight-color-invalid: red !important;
$text-input-md-background-color: theme-colors('mainColors', 'accent') !important;
// Input Settings Label
$label-md-text-color: theme-colors('textColors', 'secondary') !important;
$label-ios-text-color: theme-colors('textColors', 'secondary') !important;
$text-input-ios-highlight-color-invalid: red !important;
$text-input-ios-highlight-color: theme-colors('textColors', 'secondary') !important;
$text-input-ios-highlight-color-valid: theme-colors('textColors', 'secondary') !important;

// Tabs Setting
$tabs-background: theme-colors('mainColors', 'primary');
$tabs-tab-color-active: theme-colors('textColors', 'accentDark') !important;
$tabs-md-tab-icon-color-active: theme-colors('textColors', 'accentDark');
$tabs-md-tab-text-color-active: theme-colors('textColors', 'accentDark');

// Search Bar Setting
// For ios
$searchbar-ios-input-background-color: theme-colors('mainColors', 'secondary');
$searchbar-ios-input-placeholder-color: theme-colors('textColors', 'secondary');
$searchbar-ios-input-search-icon-color: theme-colors('textColors', 'secondary');
$searchbar-ios-input-clear-icon-color: theme-colors('textColors', 'secondary');
// For android
$searchbar-md-input-background-color: theme-colors('mainColors', 'secondary');
$searchbar-md-input-placeholder-color: theme-colors('textColors', 'secondary');
$searchbar-md-input-search-icon-color: theme-colors('textColors', 'secondary');
$searchbar-md-input-clear-icon-color: theme-colors('textColors', 'secondary');
$searchbar-md-input-border-radius: $border-radius;
$searchbar-md-input-box-shadow: none;
[search-bar-title] {
    color: theme-colors('textColors', 'secondaryBase');
    font-size: font-size-text('h1') !important;
    font-weight: bold;
}

// Settings Toggle
$toggle-md-handle-background-color-on: theme-colors('mainColors', 'primary');
$toggle-md-active-color: theme-colors('mainColors', 'accent');
$toggle-md-track-background-color-on: theme-colors('mainColors', 'accent');

//  Google Maps
[maps-title] {
    font-size: font-size-text('h1') !important;
    color: theme-colors('textColors', 'accentDark');
}

[map-content] {
    [maps-description-title] {
        font-size: font-size-text('h4') !important;
        line-height: 20px;
        color: theme-colors('textColors', 'accentDark');
    }
    [maps-description] {
        color: theme-colors('textColors', 'secondary');
        font-size: font-size-text('p');
        line-height: 20px;
    }
}

//Animations
// @mixin animation {
//     -webkit-animation: fadeInRight 500ms;
//     -moz-animation: fadeInRight 500ms;
//     -o-animation: fadeInRight 500ms;
//     animation: fadeInRight 500ms;
// }

//Background Size
[background-size] {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

// Settings Divider
$item-ios-divider-background: theme-colors('mainColors', 'primary');
$item-md-divider-background: theme-colors('mainColors', 'primary');
//Default Overview Ionic
[has-header] .scroll-content {
    top: 56px;
}

//Settings header for IOS
.platform-ios {
    ion-list {
        margin-top: -1px !important;
        margin-bottom: 0 !important;
    }
    [has-header] .scroll-content {
        top: 60px !important;
    }
    .header-ios .toolbar-background-ios {
        border-color: transparent;
    }
}

// Toolbar colors
$toolbar-md-title-text-color: theme-colors('textColors', 'accent');
//For Ios
$toolbar-ios-title-text-color: theme-colors('textColors', 'accent');
$toolbar-ios-button-color: theme-colors('textColors', 'accent');
$toolbar-ios-height: 56px !important;
//For Android
$toolbar-md-title-font-size: font-size-text('h4') !important;
$toolbar-md-title-text-color: theme-colors('textColors', 'accent');

.toolbar {
    .toolbar-background {
        background-color: theme-colors('mainColors', 'accentNew');
    }
    .toolbar-title {
        font-weight: 400;
    }
}

.header-ios[header-ios] {
  padding-top: 13px;
}

// Alert message
.alert-md {
    .alert-title {
        font-size: 15px !important;
        font-weight: 300;
    }
    .alert-head,
    .alert-input,
    .alert-message,
    .button-inner {
        color: theme-colors('textColors', 'primary') !important;
    }
    .alert-head {
        padding: 20px 24px 15px 24px !important;
    }
    .alert-input-group {
        padding: 0 24px 10px 24px !important;
    }
    .alert-message {
        overflow-y: hidden;
        max-height: 40px !important;
        padding: 0 24px 0px 24px !important;
    }
    .alert-input {
        border-bottom: 1px solid theme-colors('mainColors', 'accent') !important;
    }
    .alert-wrapper {
        background-color: theme-colors('mainColors', 'primary') !important;
    }
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: theme-colors('textColors', 'accent') !important;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        color: theme-colors('textColors', 'accent') !important;
    }
     :-ms-input-placeholder {
        /* IE 10+ */
        color: theme-colors('textColors', 'accent') !important;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        color: theme-colors('textColors', 'accent') !important;
    }
}
