
 <ion-content padding class="bg-image" style="text-align: center;">

  <ion-img style="width:50%; height:auto;object-fit: resize;background: transparent; margin: 15% auto 30px; text-align: center; contain:none;"
    src="assets/imgs/logow.png" class="img-logo"></ion-img>



  <ion-list>
    <ion-item>
      <ion-label class="resetpass"> Enter your email address <br>we will send you reset link </ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="email"  placeholder="Enter Email ID" [(ngModel)]="email" class="input-field usr"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-input type="password" placeholder="Enter New Password" [(ngModel)]="password" class="input-field pwd"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="repassword" placeholder="Conform Password" [(ngModel)]="repassword" class="input-field pwd"></ion-input>
    </ion-item> -->
    
   
  </ion-list>

  <div>
    <button block [disabled]="!email" ion-button style="padding: 30px 0; text-transform: capitalize; border-radius: 3px; margin-top: 20px;"
      (click)="submit()">submit</button>
  </div>
  


</ion-content>
