page-forgotpassword {
.resetpass{
	color: #fff;
	font-size: 1.8rem;
	margin-bottom: 21px;
}
a[disabled], button[disabled], [ion-button][disabled]{
	opacity:0.8;
}
	.item-md.item-input.item-input-has-focus.item-inner, .item-md.item-input.input-has-focus .item-inner,.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
		box-shadow: none!important;
	}
	.button-md,.button-md.activated{   
		background-color: #2c4f6f!important;
}
    .bg-image {
		background-image: url(../assets/imgs/bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
		position: relative;
	}
	.bg-image::after {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(51, 51, 51, 0.5);
	}
.img-logo img{width:100%; height:auto;}
	.item {
		background: transparent;
		border: 0 !important;
	}
	.item-inner {
		border-bottom: 0 !important;
	}
	.input-field {
		border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
		color: #ffffff !important;
		padding-left: 70px;
   margin-bottom: 10px !important;
	}
  .input-field input{ margin-bottom: 10px !important; font-size: 14px;}
	.label-inp {
		color: #ffffff !important;
		padding-left: 70px;
	}
	.usr:before {
		background-image: url(../assets/imgs/icon1.png);
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: top;
		position: absolute; left:35px; content:""; width: 25px; height:25px; top:5px;
	}
  .pwd:before {
		background-image: url(../assets/imgs/icon2.png);
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: top;
		position: absolute; left:35px; content:""; width: 25px; height:25px;top:5px;
	}
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff !important;
    opacity: 1; /* Firefox */
    font-size: 14px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}
  
  .item-md .item-inner{box-shadow: none !important;}
}
