<!--
  Generated template for the AddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Address</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <div class="margin">
      <ion-list>
         <ion-item>
            <ion-label floating>First Name*</ion-label>
            <ion-input required type="text" [(ngModel)]="customer.displayName" name="firstname"></ion-input>
         </ion-item>
         <ion-item>
            <h3>Email: {{customer.email}}</h3>
         </ion-item>
         <ion-item>
            <ion-label floating>Phone no</ion-label>
            <ion-input type="number" [(ngModel)]="customer.phone" name="phone" ></ion-input>
         </ion-item>
         <ion-item>
            <ion-label floating>Address</ion-label>
            <ion-input type="text" [(ngModel)]="customer.address" name="address" ></ion-input>
         </ion-item>
      </ion-list>
       <div class="error-message">
           <ion-label color="danger" text-wrap>{{errorMessage}}</ion-label>
       </div>
      <button ion-button no-margin item-right full color="shadow" [disabled]="disableSubmit" (click)="addAddress()">Save</button>
   </div>


</ion-content>
