page-findbycategory {
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    margin-bottom: 6px;
    font-family:serif;
  }

  .card-title {
   position: absolute;
    top: 38%;
    font-size: 1.8em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
  ion-card img {
    display: block;
    width: 100%;
    height: 175px;
}

}

}
