<!--
  Generated template for the FindbycategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	   <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Find Vendor By Category</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page" *ngIf="categorList && categorList.length>0">

  <ion-card *ngFor="let cat of categorList">
    <img [src]="cat.firebase_url"/>
    <div class="card-title"> </div>
  
  </ion-card>


</ion-content>